{% extends "demo/base.html" %}

{% load demo_tags wagtailcore_tags %}

{% block content %}
    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div>
    {% endif %}

    {% include "demo/includes/contact.html" with contact=self only %}

    {%  if self.post_code %}

        {% get_google_maps_key as google_maps_key %}

        <div class="page-header"><h3>Map</h3></div>

       <style>
          #map {
           height: 400px;
           width: 100%;
          }
       </style>

       <div id="map"></div>
       <script>
         function initMap() {
           var uluru = {lat: 10.1633526, lng: 77.8531174};
           var map = new google.maps.Map(document.getElementById('map'), {
             zoom: 15,
             center: uluru
           });

           var markerOptions = {
               position: new google.maps.LatLng(10.1633526, 77.8531174),
               map: map
           };

          var marker = new google.maps.Marker(markerOptions);
          marker.setMap(map);

          var infoWindowOptions = {
              content:'Child Voice is Here !'
          };

          var infoWindow = new google.maps.InfoWindow(infoWindowOptions);
          google.maps.event.addListener(marker,'click',function(e){
              infoWindow.open(map,marker);
          });
         }
       </script>
       <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9ysyo4Se6IXrqPav8C3F0OfAjAdKOcnk&callback=initMap">
       </script>
    {% endif %}

    {% person_listing_homepage %}

{% endblock %}
